.bold{
    font-weight: bold;
}
.notification{
    position: absolute;
    width: calc(100vw - 20px);
    top: 10px;
    left: 10px;
}
.blogCard{
    display: flex;
    float: left;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 300px;
}